/* Layaut general */
.landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  background: #f5f5f5;
  padding: 40px 60px;
  font-family: "Segoe UI", Roboto, sans-serif;
  border-radius: 20px;
}


.landing__text {
  max-width: 460px;
  
}

.landing__text h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1e2a38;
}

.landing__text h2 {
  font-size: 24px;
  color: #3c9ee4;
  margin-bottom: 15px;
}

.landing__text p {
  color: #444;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.landing__btn {
    background: linear-gradient(
    to top right,
    #1a1a28,
    #000000 100%
  );
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

.landing__btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
