.Contenedor {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  background-color: #f5f5f5; 
  border-radius: 20px;
}

/* Caja del formulario */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; 
  max-width: 350px;  
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background: #3c9ee4;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #a4d0ff;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}


.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 32px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: #3c9ee4;
}

.submit {
  border: none;
  outline: none;
  background: linear-gradient(
    to top right,
    #1e2a38,
    #000000 100%
  );
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}