.pensum-container {
  padding: 10px 30px;
  background: #f5f5f5;
  min-height: 100%;
  border-radius: 20px;
  justify-content: center;
}




/* Contenedor de columnas */
.pensum-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center; /* centra las columnas */
  overflow-x: auto;
  padding-bottom: 10px;
}

/* Columna de semestre */
.semestre-column {
  flex: 0 0 auto;
  width: 100px;
  background: #ffffff00;
  border-radius: 8px;
  padding: 6px;
  text-align: center;
}
.pensum-container .modal-logo h3 {
  font-size: 20px;       /* más pequeño que el tamaño normal */
  margin-top: 8px;
}

/* Título de semestre */
.semestre-title {
  font-size: 0.7rem;
  font-weight: 600;
  color: #1c81c9;
  margin-bottom: 5px;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 3px;
}

/* Lista de materias */
.materias-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

/* Tarjeta de materia compacta */
.materia-card {
  border: 1px dashed #c3c3c3;
  border-radius: 12px;
  background: #fafafa;
  border-radius: 5px;
  font-size: 0.65rem;
  transition: transform 0.2s ease, background 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 3px 4px;
  overflow: hidden;
}

.materia-card:hover {
  transform: scale(1.03);
  background: #e2e8f0;
}

/* Nombre de la materia */
.materia-nombre {
  font-weight: 600;
  color: #1e293b;
  font-size: 0.58rem;
  line-height: 1.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Línea inferior (código - créditos) */
.materia-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.55rem;
  color: #475569;
  border-top: 1px solid #cbd5e1;
  padding-top: 2px;
}


/* === LEYENDA DE ESTADOS === */
.pensum-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.legend-item {

  padding: 5px 8px;
  font-size: 0.6rem;
  font-weight: 600;
  color: #222;
  text-align: center;
  min-width: 70px;
}

/* Colores personalizados */
.legend-item.activa {
  background: linear-gradient(
    to top right,
    #fffaa3,
    #b63131 100%
  );
  border-radius: 8px;
}

.legend-item.matriculada {
  background: linear-gradient(
    to top right,
    #a3ceff,
    #4231b6 100%
  );
  border-radius: 8px;
}

.legend-item.cursada {
  background: linear-gradient(
    to top right,
    #ececec,
    #a2a2a2 100%
  );
  border-radius: 8px;
}



.legend-item.descripcion {
  background: linear-gradient(
    to top right,
    #1e2a38,
    #000000 100%
  );
  color: #fff;
  text-align: center;
  min-width: 110px;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.5rem 1.5rem 0.5rem;
  border-bottom: 1px solid #eee;
}

.logo-circle {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e5efff;
}

