/* Configuración base del contenedor principal */
.sidebar {
  height: 100vh;
  background: linear-gradient(
    to top right,
    #1e2a38,
    #000000 100%
  );
  color: white;
  width: 230px;
  transition: width 0.3s ease;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

/* Estado colapsado: ancho reducido */
.sidebar.closed {
  width: 70px;
}

/* --- Sección superior --- */
.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sidebar.closed .logo {
  opacity: 0;
  pointer-events: none;
}

.toggle-btn {
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
}

/* --- Menú principal --- */
.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu-title {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #aaa;
  margin-top: 15px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s ease;
}

/* Oculta títulos cuando está cerrada */
.sidebar.closed .menu-title {
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

/* --- Botones del menú --- */
.menu button {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s, padding 0.3s ease;
  font-size: 0.9rem;
}



/* Íconos dentro de los botones */
.menu button svg {
  font-size: 1.2rem;
  min-width: 25px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/* Texto de los botones */
.menu button span {
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: auto;
}
.menu button:hover svg {
  color: #3c9ee4; /* ícono azul */
}
.menu button:hover span {
  color: #3c9ee4; /* ícono azul */
}

.menu button.active {
  color: #3c9ee4;
}

.menu button.active svg {
  color: #3c9ee4;
}

/* Oculta texto completamente cuando está cerrada */
.sidebar.closed .menu button span {
  opacity: 0;
  width: 0;
  pointer-events: none;
}


/* --- Tooltip personalizado para sidebar cerrado --- */
.sidebar.closed .icon-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0;
}


.sidebar.closed .icon-content .tooltip {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  padding: 6px 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  border-radius: 7px;
  transition: all 0.4s cubic-bezier(0.07, 1.17, 0.44, 1.41);
  background: #3c9ee4;
  color: #ffffff;

  visibility: hidden;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  margin-left: 8px;
}

.sidebar.closed .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  left: calc(100% + 8px);
}